<!doctype html>
<html lang="en">
    <head>
        <meta charset = "utf-8">
        <title><%= current_page.data.title %></title>
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <%= stylesheet_link_tag "/stylesheets/site.css" %>
    </head>
    <body>
        <%= partial 'navbar'%>
        <%= yield%>
        <%= partial 'footer'%>
    </body>
</html>
